@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Reset e configurações globais de base (Chassi da Aplicação)
 */
html,
body {
  height: 100%;
  margin: 0;
  /* Utilização de fontes do sistema para máxima performance e legibilidade */
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  /* Fundo ligeiramente cinzento (Slate 50) para reduzir o cansaço visual em ambiente industrial */
  background-color: #f8fafc;
}
