@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-30px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(30px); }
  to { opacity: 1; transform: translateX(0); }
}

/* * Reset e configurações globais de base (Chassi da Aplicação)
 */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
  background-color: #f8fafc;
}

/* Utilitários Tipográficos Industriais */
.font-industrial-mono {
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: -0.025em;
}
